{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <a href="/card_search">
            <div class="card text-white bg-primary">
                <div class="card-header">Card Search</div>
                <div class="card-body">
                    You can search through most of the Yu-Gi-Oh! DuelLinks cards.
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-sm-12">
        <a href="/decks">
            <div class="card text-white bg-secondary">
                <div class="card-header">Deck List</div>
                <div class="card-body">
                    You can see the most like decks share by users. 
                </div>
            </div>

        </a>
    </div>
</div>

<p>
    Hello
</p>


{% endblock %}